.prediction-form {
    margin: 10px auto 100% auto;
}

.login-form-button {
    margin-left: 60px  ;
    top: 50px;
}
.login-button-form{
    margin-left: -60%  ;
    top: 50px;
}

.prediction-elemets {
    margin: 10px auto 30px auto;
}

.prediction-heading {
    margin: 10px auto 30px auto;
}

